$fontDefault: 'Golos Text',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontSizeDefault: 15px;
$lineHeightDefault: 1.6;

$fontSerif: 'Merriweather', serif;

$white: #fff;
$black: #000;
$dark: #212121;

$gray1: #303342;
$gray2: #ADA9A4;
$gray3: #E1E1E0;
$gray4: #F9F8F6;
$gray5: #E0E0E0;
$gray6: #F2F2F2;

$red: #FF6767;
$ligthred:  #FFC8C8;
$orange: #FF8154;
$green: #4ACB91;
$ligthgreen: #C1E6CD;

$violet: #543964;
$violet1:#9168A8;
$violet2: #6C4980;
$violet3: #F3ECF7;
$violet4: #DBCEE3;
$violet5: #F0DFEE;
$violet6: #793A72;

$pathAssets: '../';